{% extends "base.html" %}
{% block title %}{{ mp.navn }} - Politik i Praksis{% endblock %}
{% block content %}
  <h1>{{ mp.navn }}</h1>

  {% for section in sections %}
    <h2>{{ section.periode.titel }} - {{ section.periode.party }}</h2>
    {% if section.votes %}
      <table>
        <tr><th>Forslag</th><th>Nummer</th><th>Dato</th><th>Stemte</th></tr>
        {% for vote in section.votes %}
          <tr>
            <td>{{ vote.titelkort }}</td>
            <td>{{ vote.nummer }}</td>
            <td>{{ vote.dato[:10] if vote.dato else "-" }}</td>
            <td>{{ vote.vote_type }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Ingen registrerede stemmer i denne samling.</p>
    {% endif %}
  {% endfor %}
{% endblock %}
